.cardPPE{
    background: rgba(255, 255, 255, 0.05); /* frosted glass background */
    backdrop-filter: blur(15px); /* blur the background */
    -webkit-backdrop-filter: blur(15px); /* for Safari */
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 3em;
    width: auto;
    margin: 0 auto; /* centralize horizontalmente */
    margin-top: 5em; /* centralize verticalmente */
    height: 40em;
    width: 50em;
    font-size: 1em;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.1); /* border blends with background */
    margin-bottom: 0.5em;
}